@using AccountManagment.Core.Models
@model User
<body>

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
                        <div class="card-header">
                            <h4 class="card-title">Profil Detayları</h4>
                        </div>
                        <div class="card-body">
                            <form>

                                <div class="row">
                                    <div class="col-md-6 pr-1">
                                        <div class="form-group">
                                            <label>Ad</label>

                                            <input type="text" class="form-control" placeholder="Ad" value="@Model.Name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6 pl-1">
                                        <div class="form-group">
                                            <label>Soyad</label>
                                            <input type="text" class="form-control" placeholder="Soyad" value="@Model.Surname" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>Tc Kimlik Numarası</label>
                                            <input type="text" class="form-control" placeholder="Tc Kimlik Numarası" value="@Model.TcNo" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" placeholder="Email" value="@Model.Email" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Telefon</label>
                                            <input type="text" class="form-control" placeholder="Telefon" value="@Model.Phone" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 pr-1">
                                        <div class="form-group">
                                            <label>İlçe</label>
                                            <input type="text" class="form-control" placeholder="İlçe" value="@Model.State" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 px-1">
                                        <div class="form-group">
                                            <label>İl</label>
                                            <input type="text" class="form-control" placeholder="İl" value="@Model.City" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 pl-1">
                                        <div class="form-group">
                                            <label>Adres</label>
                                            <input type="text" class="form-control" placeholder="Adres" value="@Model.Adress" readonly>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-user" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 20px;">
                        <div class="card-image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                        </div>
                        <div class="card-body">
                            <div class="author">
                                <img class="avatar border-gray" src="~/icon/profile.png" alt="...">
                                <h5 class="title" style="color:purple">@Model.Name @Model.Surname</h5>
                                <p class="description">
                                    <label>Hesap oluşturulma tarihi: </label> @Model.CreatedDate
                                </p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</body>

</html>
